*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  background:#111;
  font-family:Arial;
}

#wrap{
  border:4px solid #00e5ff;
  padding:10px;
}

canvas{
  display:block;
  background:black;
}

video{
  display:none;
}

#footer{
  margin-top:15px;
  color:white;
  font-size:18px;
}
